<!-- HackXX_Tutorial About Page -->

{%  extends 'header.html' %}

{% block content %}

{% load staticfiles %}

<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Colony Counter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/uploads/simple/">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/results/">Results</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="/youtubeapp/videos">Projects</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/youtubeapp/videos">Project 1</a>
                        <a class="dropdown-item" href="#">Project 2</a>
                        <a class="dropdown-item" href="#">Project 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<br><br>
<center>
    <img src="{% static 'images/geisel.jpg' %}"/>
</center>
<br><br>
<section class="container">
    <div class="jen">
        <figure class="col-sm-8">
            <h2>Contact us</h2>
            <a href="http://instagram.com/jen.fung">
                <img src="{% static 'images/jen.jpg' %}" style="float: left;"/></a>
            <p>
                <br></br>
                Created using python, numpy library and a computer vision library openCV, this tool detects cell culture colonies and counts innumerable clones, providing data for further microbiological manipulations.
            <br>It was inspired by my time in my previous position working in a DNA manipulation lab where E. coli cultures</br>
                <a href="/uploads/simple/">Try now.</a></p>
        </figure>
    </div>
</section>

{% endblock %}
