<!-- HackXX_Tutorial Home Page -->

{%  extends 'header.html' %}

{% block content %}

{% load staticfiles %}

<body>
<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Colony Counter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="uploads/simple/">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<center>
    <div id="demo" class="carousel slide" data-ride="carousel" style="width: 75%; height: 50%; margin: 0 auto">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/australia.jpg' %}" alt="Australia">
                <div class="carousel-caption">
                    <h3>Welcome!</h3>
                    <p>The webapp that counts your colonies for you</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/grand_teton.jpg' %}" alt="Grand Teton">
                <div class="carousel-caption">
                    <h3>upload an image of your cell culture</h3>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/italy.jpg' %}" alt="Italy">
                <div class="carousel-caption">
                    <h3>See the circled output and colony count!</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
  </div>
  </center>      
 


<center>
<section class ="container">
<div class ="row">   
<div id="upload_file" >
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>

  {% endif %}
  <?php
   if()

  ?>

    </div>
 </div> 
 </center>
 </section>  




<center>
<section class="container">
    <div class="row">
        <figure class="jumbotron">
            <h2>Python</h2>
            <!--> get another image </-->
            <img src="{% static 'images/hackxx.svg' %}" height="250px"/></a>
            <p>HackXX is UC San Diego's women-centric hackathon. It’s an empowering place to build great projects. Over
                24 hours, women will be given the tools and knowledge to materialize their technological dreams.
                <a href="http://127.0.0.1:8000/simple/upload/">try now.</a></p>
        </figure>
    </div>
</center>
</section>


{% endblock %}
